@media screen and (min-width: 320) {
  .bricklayer-column-sizer {
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  .bricklayer-column-sizer {
    width: 33%;
  }
}

@media screen and (min-width: 768px) {
  .bricklayer-column-sizer {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .bricklayer-column-sizer {
    width: 20%;
  }
}




