/* Wall */
.wall {
}

.wall:after {
    display: block;
    content: '';
    clear: both;
}

/* Bricks */
.wall-brick {
}

/* Columns */
@media (min-width: 320px ) {
    .wall-col { 
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        width: 98%; 
    }
    .wall-col-1, .wall-col-2, .wall-col-3 { 
        display: none; 
    }
    .wall-col-4 {
        display: block;
        margin-right: 0;
    }
}

@media (min-width: 480px ) {
    .wall-col { 
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        width: 48%; 
    }
    .wall-col-1 { 
        display: block; 
    }
    .wall-col-2, .wall-col-3 { 
        display: none; 
    }
    .wall-col-4 {
        display: block;
        margin-right: 0;
    }
}

@media ( min-width: 768px) {
    .wall-col {
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        width: 31%;
    }
    .wall-col-2 {
        display: block;
    }
    .wall-col-4 {
        display: block;
        margin-right: 0;
    }
}

@media ( min-width: 1200px) {
    .wall-col {
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .wall-col-2, .wall-col-3 {
        display: block;
    }
    .wall-col-4 {
        display: block;
        margin-right: 0;
    }
}