<div>
  <label for="optionsId">{{label}}</label>
  <select id="optionsId" class="form-control" (change)="handle($event.target)">
    <option *ngFor="let option of options" 
      [value]="option.value" 
      [selected]="option.selected" 
      [disabled]="option.disabled">

      <div *ngIf="option.disabled; then disabledBlock; else enabledBlock"></div>
      <ng-template #disabledBlock>
        <span title="Disabled">
          {{option.label}}
        </span>
      </ng-template>
      <ng-template #enabledBlock>
        <span>
          {{option.label}}
        </span>
      </ng-template>

    </option>
  </select>
</div>