<div>
    <label for="optionsId">{{label}}</label>
    <select id="optionsId" class="form-control" (change)="handle($event.target)">
        <option value="*">
            ALL
        </option>
        <option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
            <div *ngIf="option.disabled; then disabledBlock; else enabledBlock"></div>
            <ng-template #disabledBlock>
                 {{option.text}}*
            </ng-template>
            <ng-template #enabledBlock>
                {{option.text}}
            </ng-template>
        </option>
    </select>
</div>