/* primeng */
@media (min-width: 320px ) {
    .ui-dialog {
        width: 90%;
        max-height: 90%;
    }
    .ui-dialog img {
        max-width: 90%;
        max-height: 90%;
    }
}

@media (min-width: 480px ) {
    .ui-dialog {
        width: 90%;
        /*max-height: 90%;*/
    }
    .ui-dialog img {
        max-width: 90%;
        max-height: 90%;
    }
}

@media (min-width: 768px ) {
    .ui-dialog {
        width: 66%;
        /*max-height: 90%;*/
    }
    .ui-dialog img {
        max-width: 66%;
        max-height: 90%;
    }
}

@media (min-width: 1200px ) {
    .ui-dialog {
        width: 50%;
        /*max-height: 90%;*/
    }
    .ui-dialog img {
        max-width: 50%;
        max-height: 90%;
    }
}