<div class="carousel slide" 
  (mouseenter)="pause()" 
  (mouseleave)="play()" 
  (mouseup)="play()">

  <ol class="carousel-indicators" *ngIf="slides.length > 1">
    <li *ngFor="let slidez of slides; let i = index;" 
      [class.active]="slidez.active === true" 
      (click)="selectSlide(i)">
    </li>
  </ol>

  <div class="carousel-inner">
    <ng-content></ng-content>
  </div>

  <a class="left carousel-control carousel-control-prev" 
    (click)="previousSlide()"
    *ngIf="slides.length > 1">
    <span class="icon-prev carousel-control-prev-icon" aria-hidden="true"></span>
  </a>

  <a class="right carousel-control carousel-control-next" 
    (click)="nextSlide()" 
    *ngIf="slides.length > 1">
    <span class="icon-next carousel-control-next-icon" aria-hidden="true"></span>
  </a>

</div>