<div class="row">
    <div class="col-sm-4 text-center">
        <br><br>
        <img alt="logo kiklos" src="assets/img/beer_logo.png">
    </div>
    <div class="col-sm-8">
        <h2>A better way to discover craft beer</h2>

        <h3>Tag lines</h3>
        <p>
            BreweryDB is your database of breweries, beers, beer events and guilds! 
            Our service is just about the facts.
        </p>
        <p>
            All of our data is curated by our administrators, so you can be sure that the information you get is timely and accurate
            We are proud to be a small part of the Craft Beer revolution!
        </p>

        <h3>Built for Developers</h3>
        <p>
            BreweryDB was made by developers, for developers. 
        </p>
        <p>
            Our vast collection of data can be accessed via our free API. 
        </p>

        <h3>What people are saying</h3>
        <p>
            A great project that aims to build an open database of breweries and beers 
            <small>(ProgrammableWeb)</small>
        </p>
        <p>
            The IMDB of Breweries <small>(Tech Cocktail)</small>
        </p>
        <p>
            Just discovered @brewerydb had an API #buildbuildbuild 
            <small>(@gideonco)</small>
        </p>

        <h3>Copyright</h3>
        <p>
            For more details <a href="http://www.brewerydb.com/">visit</a>
        </p>

        <h3>Terms</h3>
        <p>
            For more details <a href="http://www.brewerydb.com/index/terms">visit</a>
        </p>

        <h3>Disclaimer</h3>
        <p>
            BreweryDB makes every effort to be accurate in our data set. If something is wrong, you can often submit the change yourself
        </p>
        <p>
            2012 Brewers Association Beer Style Guidelines used with permission of Brewers Association.
        </p>
        <p>
            All images of breweries, beers, guilds, or events are properties of those entities. 
            If an image you hold the copyright to is on BreweryDB.com and you would like it not to be, we understand. 
            Even though it makes our database more complete, and in return provides free marketing and enhanced recognition for your brand, we will remove it
        </p>
        <p>
            The initial set of data was taken from OpenBeerDB (www.openbeerdb.com) in 2010 which was released under the Open Database License (ODbL) 
            (http://www.opendatacommons.org/licenses/odbl/1.0/). 
            After the initial import of data, user submissions and updates are what make up the current data set.
        </p>

    </div>
</div>