<div class="row">
    <div class="col-sm-4 text-center">
        <br><br>
        <img alt="logo kiklos" src="assets/img/beer_logo.png">
    </div>
    <div class="col-sm-8">
        <h1>About Demo</h1>
        <h2>Improve and promote the CoR's political impact</h2>

        <h3>New ways of working</h3>
        <p>
            KIKLOS is the new online tool that enables you to easily create, edit, plan, communicate and follow up on the Committee of
            the Regions' political work. Its overall aim is to improve and promote the CoR's political impact.
        </p>
        <p>
            After analysing different user profiles, investigating workflows and listening to your input, we are now building a system
            to facilitate your daily work.
        </p>
        <h2>KIKLOS is evolving</h2>
        <p>
            Directorate A has been working together with the Directorates of Legislative Works, Logistics and IT to bring you this new
            tool.
        </p>
        <p>
            The first version was launched on 3 February 2016. Since then, KIKLOS has been constantly evolving and
            <a routerlink="/about/whatsnew" href="/about/whatsnew">new features are regularly added.</a>
        </p>

        <h3>KIKLOS - Disclaimer</h3>
        <p>
            The usage of KIKLOS online application implies that the IT systems and Data Controller handle some of your personal data
            corresponding to your actions and which are always available to Data Controller for further processing.
        </p>
        <p>
            The purpose of the processing is to guarantee the good functioning of the KIKLOS as the main tool to create, edit, plan,
            follow up and optimize the Political Work of the CoR.
        </p>
        <p>
            The Data Controller of this process is
            <a href="mailto:pedro.cervillamartinez@cor.europa.eu">Mr Pedro Martínez Cervilla</a>, the Director of Directorate
            A. In case you have further questions concerning the processing of your personal data, you can contact the
            <a href="mailto:data.protection@cor.europa.eu">CoR data protection officer</a> or the
            <a href="http://www.edps.europa.eu/" target="edps">European Data Protection Supervisor</a>.
        </p>
        <p>
            Your personal data are processed in accordance with the requirements of Regulation (CE) 45/2001 on the protection of individuals
            with regard to the processing of personal data by Community institutions and bodies and on the free movement
            of such data.
        </p>
        <p>
            You are strongly advised to read the
            <a href="/assets/docs/KIKLOS-DPO-Full_Legal_Notice.pdf" target="DPO">full legal notice here</a>. 
            By using KIKLOS you agree to the KIKLOS governing rules.
        </p>

        <h3>Copyright</h3>
        <p>
            Before uploading any content make sure that you have the necessary intellectual property rights to do so. Do not upload texts,
            pictures or music unless you are sure you have the necessary licence to use it!
        </p>

        <h3>Code of Conduct</h3>
        <p>
            Anyone who incurs into an illegal activity on KIKLOS or his behaviour is not in conformity with the Code of Conduct of the
            EU officials, might be subject to an administrative or disciplinary inquiry.
        </p>

        <h3>Case of Conflict</h3>
        <p>
            In case of a conflict regarding the content of the pages, the units and/or persons responsible for the conflicting content
            shall try to come to a consensual solution in the framework of 3 days. If the solution is not found, a decision
            should be made at a higher level.
        </p>

    </div>
</div>