<div class="row app-hdr">

    <!-- Brand -->
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 brand">
        <ul class="list-inline">
            <li>
                <h2 >
                    <a routerLink="/">Demo</a>
                </h2>
            </li>
            <li class="hidden-xs">
                <i class="fa fa-beer" aria-hidden="true"></i>
            </li>
        </ul>
    </div>

    <!-- Search -->
    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
        <app-search-bar></app-search-bar>
    </div>

    <!-- Add -->
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:0px;">
        <ul class="list-inline">
            <li>
                <div class="btn-group add-button">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-plus"></span> 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a id="addNewBeerLink" href="#">Beer</a></li>
                        <li><a id="addNewBreweryLink" href="#">Brewery</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<hr style="margin-top:0px;" />