<div class="row">

  <div class="col-md-3 col-sm-2 col-xs-1">
  </div>

  <div class="col-md-3 col-sm-4 col-xs-5 text-center">
    <a routerLink="/breweries" style="display: block">
      <img src="./assets/img/beer_factory.png" alt="Breweries">
    </a>
    <h1>Breweries</h1>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-5 text-center">
    <a routerLink="/beers" style="display: block">
      <img src="./assets/img/beer-glass.png" alt="Breweries">
    </a>
    <h1>Beers</h1>
  </div>

  <div class="col-md-3 col-sm-2 col-xs-1">
  </div>

</div>