
* { 
  box-sizing: border-box; 
}

/* Grid */
.grid {
}

.grid:after {
  display: block;
  content: '';
  clear: both;
}

.grid-col {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.grid-col-4 { 
  margin-right: 0; 
}

.grid-col-2, .grid-col-3 { 
  display: none; 
}

@media (min-width: 320px ) {
  .grid-col { 
    width: 99%; 
  }
  .grid-col-1, .grid-col-2, .grid-col-3 { 
    display: none; 
  }
}

@media (min-width: 480px ) {
  .grid-col { 
    width: 49%; 
  }
  .grid-col-1 { 
    display: block; 
  }
  .grid-col-2, .grid-col-3 { 
    display: none; 
  }
}

@media (min-width: 768px ) {
  .grid-col { 
    width: 32%; 
  }
  .grid-col-2 { 
    display: block; 
  }
}

@media (min-width: 1200px ) {
  .grid-col { 
    width: 23.5%; 
  }
  .grid-col-2, .grid-col-3 { 
    display: block; 
  }
}

/* Item */
.grid-item {
    margin-bottom: 10px;
    background: transparent;
}

/* Cards*/
.grid-card {
  background: transparent;
  border: 1px lightgray solid;
  box-shadow: 0px 2px 4px 0px lightgray;
  transition: 0.3s;
}

.grid-card:hover {
  border: 1px orange solid;
  box-shadow: 0px 8px 16px 0px orange;
  cursor: pointer;
}


