<div>
  <label style="display: block">{{label}}</label>

  <p-multiSelect
    [options]="options" 
    [(ngModel)]="selection" 
    [filter]="false" 
    [showToggleAll]="false" 
    [maxSelectedLabels]="max"
    styleClass="form-control" 
    (onChange)="changed($event)">

    <ng-template let-option pTemplate="item">

      <div *ngIf="option.disabled; then disabledBlock; else enabledBlock"></div>
      <ng-template #disabledBlock>
        <span style="color:#ccc; cursor:default">
          {{option.label}}
        </span>
      </ng-template>
      <ng-template #enabledBlock>
        <span>
          {{option.label}}
        </span>
      </ng-template>

    </ng-template>
  </p-multiSelect>
</div>