<!-- Content -->
<div class="container">
  <br/>
  <div class="row">
    
    <!-- Filters -->
    <div class="col-xs-12 col-sm-3">
      <button class="btn btn-default" routerLink="/breweries">Reset</button>
      <button class="btn btn-default" (click)="test()">Test</button>
      
      <organic-filter loadedEvent="breweriesLoaded" refinedEvent="breweriesChanged"></organic-filter>
      <year-filter loadedEvent="breweriesLoaded" refinedEvent="breweriesChanged"></year-filter>
      <after-filter loadedEvent="breweriesLoaded" refinedEvent="breweriesChanged"></after-filter>
      <before-filter loadedEvent="breweriesLoaded" refinedEvent="breweriesChanged"></before-filter>
      <letter-filter loadedEvent="breweriesLoaded" refinedEvent="breweriesChanged"></letter-filter>
      <brewery-filter></brewery-filter>
    </div>

    <!-- Results -->
    <div class="col-xs-12 col-sm-9">
      <!-- List -->
      <!-- <div style="border: 1px lightgray solid">
        <brewery-card 
          *ngFor="let item of breweries" 
          [brewery]="item" 
          (selected)="select(item);dialog.open();">
        </brewery-card>
      </div> -->

      <!-- Cards (attempt1) -->
      <!-- <app-cards [items]="breweries">
        <template let-item="item">
          <brewery-card [brewery]="item" (selected)="select(item);dialog.open();"></brewery-card>
        </template>
      </app-cards> -->

      <!-- Cards (attempt2) -->
      <mason-wall>
        <mason-brick *ngFor="let item of this.store.refined">
          <brewery-card 
            [brewery]="item" 
            (selected)="select(item);dialog.open();">
          </brewery-card>
        </mason-brick>
      </mason-wall>
    </div>
  </div>

</div>

<!-- Modal -->
<modal #dialog size="large" class="dialog">
  <div data-section="header" *ngIf="selection">
    <span class="title">
        <span class="fa fa-1x fa-beer" aria-hidden="true"></span> {{selection.name}}
    </span>
  </div>
  <div data-section="body" *ngIf="selection">
    <div class="row">
      <div class="col-sm-12">
        <em>{{selection.description}}</em>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img *ngIf="selection.images" class="img-responsive center-block" src="{{selection.images.medium}}" />
        <img *ngIf="!selection.images" class="img-responsive center-block" src="./assets/img/brewery-generic.png" />
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div data-section="footer" *ngIf="selection">
    <button type="button" class="btn btn-primary" (click)="dialog.close()">Ok</button>
  </div>
</modal>