<app-select [label]="'Organic'" [options]="organic" (changed)="organicChanged($event)"></app-select>
<app-select [label]="'Year'" [options]="years" (changed)="yearChanged($event)"></app-select>
<app-select [label]="'After'" [options]="after" (changed)="afterChanged($event)"></app-select>
<app-select [label]="'Before'" [options]="before" (changed)="beforeChanged($event)"></app-select>
<app-select [label]="'Letters'" [options]="letters" (changed)="lettersChanged($event)"></app-select>
<app-select [label]="'Length'" [options]="length" (changed)="lengthChanged($event)"></app-select>