
<div class="container" *ngFor="let brewery of breweries">

  <div class="row">

    <div class="col-sm-12">
      <h3>
        <small>({{brewery.established}})</small>
        <a href={{brewery.website}}>{{brewery.name}}</a>
      </h3>
    </div>

    <div class="col-sm-4">
      <p *ngIf="brewery.images">
        <img class="img-responsive center-block" src="{{brewery.images.medium}}" />
      </p>
      <p *ngIf="!brewery.images">
        <img class="img-responsive center-block" src="./assets/img/place_holder.png" />
      </p>
    </div>

    <div class="col-sm-8">
      <p *ngIf="brewery.description">
        {{brewery.description}}
      </p>
      <p *ngIf="!brewery.description">
        no description is provided
      </p>
    </div>

  </div>
</div>