<div class="card">

  <div class="actions">
    <span class="fa fa-1x fa-cog" aria-hidden="true"></span>
    <a href="#" class="pull-right" (click)="favorite($event)">
      <i *ngIf="!brewery.favorite" class="fa fa fa-2x fa-star-o" aria-hidden="true"></i>
      <i *ngIf="brewery.favorite" class="fa fa fa-2x fa-star star" aria-hidden="true"></i>
    </a>
  </div>

  <div class="label">
    <img *ngIf="brewery.images" class="img-responsive center-block" src="{{brewery.images.medium}}" />
    <img *ngIf="!brewery.images" class="img-responsive center-block" src="./assets/img/brewery-generic.png" />
  </div>

  <div class="content">
    <h6 class="title" title="{{brewery.description ? brewery.description : 'N/A'}}">
      {{brewery.name}}
    </h6>

    <div class="date">
      <small>Established: {{brewery.established}}</small>
    </div>

</div>

<!--Established: {{brewery.established}}
Name: {{brewery.name}}
Label: {{brewery.images.medium}}
Description: {{brewery.description}}-->