.brewery .actions {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.brewery .actions .star {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkorange;
}

.brewery .label {
}

.brewery .content {
    padding: 2px 16px;
}

.brewery .title {
    font-weight: bold;
}

.brewery .date {
    font-style: italic;
}

.brewery .spec {
    display: inline;
}