<!--<form class="form-horizontal" style="display: inline">
  <div class="form-group">
    <div class="input-group">
      <input type="search" class="form-control" id="queryField" placeholder="please enter your query here.">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="searchIndexButton">Beers</span> 
                            <span class="caret"></span>
                        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a id="beersSearchIndex" href="#">Beers</a></li>
          <li><a id="breweriesSearchIndex" href="#">Breweries</a></li>
        </ul>
      </div>
    </div>
  </div>
</form>-->

<div class="input-group">

  <!-- Types -->
  <!--<div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="searchIndexButton">Beers</span> 
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a id="beersSearchIndex" href="#">Beers</a></li>
      <li><a id="breweriesSearchIndex" href="#">Breweries</a></li>
    </ul>
  </div>-->

  <!-- Term -->
  <input #searchBox id="queryField" type="search" class="form-control" 
    placeholder="What in the name of Bachus do you need to know?"
    (keyup)="search(searchBox.value)">

  <!-- Execute -->
  <div class="input-group-btn">
    <button id="searchButton" type="button" class="btn btn-primary">Search</button>
  </div>
</div>