<div class="row">
    <div class="col-xs-12">
        <button 
            class="center-block btn btn-danger" 
            app-tooltip title="<i>Sure thing</i>" 
            placement="top">
            Tooltips?
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <app-popover 
            class="center-block" 
            [sample]="'Popovers'" 
            [title]="'Sure thing'" 
            [content]="'Well, about that...'">
        </app-popover>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button (click)="add()">Add</button>
        <button (click)="cards.destroy();remove();cards.build()">Remove</button>
        <button (click)="cards.redraw()">Redraw</button>
        <button (click)="cards.destroy()">Destroy</button>
        <button (click)="cards.build()">Build</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <app-cards #cards>
            <div class="card"
                *ngFor="let sentence of sentences"
                (click)="select(sentence)">
                <div>
                    {{sentence.text}}
                </div>
                <div>
                    <small>
                         words: {{sentence.words}}
                    </small>
                    <small>
                         legth: {{sentence.length}}
                    </small>
                </div>
            </div>
        </app-cards>
    </div>
</div>