<div class="row">
    <div class="col-xs-12">
        <button 
            class="center-block btn btn-danger" 
            app-tooltip title="<i>Sure thing</i>" 
            placement="top">
            Tooltips?
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <app-popover 
            class="center-block" 
            [sample]="'Popovers'" 
            [title]="'Sure thing'" 
            [content]="'Well, about that...'">
        </app-popover>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <app-cards>
            <div class="card" *ngFor="let sentence of sentences">
                <div>
                    {{sentence.text}}
                </div>
                <div>
                    <small>
                         words: {{sentence.words}}
                    </small>
                    <small>
                         legth: {{sentence.length}}
                    </small>
                </div>
            </div>
        </app-cards>
    </div>
</div>