<div class="row">
  <div class="col-md-3 col-sm-2 col-xs-1">
  </div>

  <div class="col-md-6 col-sm-8 col-xs-10">
    <carousel>

      <!-- Breweries -->
      <slide>
        <img src="../assets/img/beer-foam-1.jpg" class="img-responsive center-block" alt="First slide" style="max-height:30%">
        <div class="carousel-caption">
          <h3>Visit</h3>
          <div class="text-center">
            <a routerLink="/breweries" style="display: block">
              <img src="./assets/img/beer_factory.png" alt="Breweries">
            </a>
            <h2>Breweries</h2>
          </div>
        </div>
      </slide>

      <!-- Beers -->
      <slide>
        <img src="../assets/img/beer-foam-2.jpg" class="img-responsive center-block" alt="Second slide" style="max-height:30%">
        <div class="carousel-caption">
          <h3>Visit</h3>
          <div class="text-center">
            <a routerLink="/beers" style="display: block">
              <img src="./assets/img/beer-glass.png" alt="Beers">
            </a>
            <h2>Beers</h2>
          </div>
        </div>
      </slide>

      <!-- History -->
      <slide>
        <img src="../assets/img/beer-foam-3.jpg" class="img-responsive center-block" alt="Third slide" style="max-height:30%">
        <div class="carousel-caption">
          <h3>History</h3>
          <div class="text-center">
            <app-search-history></app-search-history>
          </div>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="col-md-3 col-sm-2 col-xs-1">
  </div>
</div>