.dialog {
}

.dialog .title {
    border-bottom: none;
    font: 12px/14px 'Armata', Arial, sans-serif;
    letter-spacing: 0.14em;
    margin: 5px 0;
    padding: 5px 0;
    text-transform: uppercase;
    word-spacing: 0.4em;
}

virtual-scroll {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid lightcoral;
  height: 50vh;
  display: block;
}

beer-item {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    border: 0;
    margin: 0px;
    width: 100%;
}

