<!-- Results -->
<div class="container">
  <br/>

  <div class="row">
    <virtual-scroll [items]="beers" (update)="temp = $event">
      <beer-item *ngFor="let item of temp" [beer]="item"></beer-item>
    </virtual-scroll>
  </div>

  <div class="row">
    <app-cards [items]="beers">
      <template let-item="item">
        <beer-card [beer]="item" (selected)="select(item);dialog.open();"></beer-card>
      </template>
    </app-cards>
  </div>
  
</div>

<!-- Modal -->
<modal #dialog size="large" class="dialog">
  <div data-section="header" *ngIf="selection">
    <span class="title">
        <span class="fa fa-1x fa-beer" aria-hidden="true"></span> {{selection.name}}
    </span>
  </div>
  <div data-section="body" *ngIf="selection">
    <em>{{selection.description}}</em>
  </div>
  <div data-section="footer" *ngIf="selection">
    <button type="button" class="btn btn-primary" (click)="dialog.close()">Ok</button>
  </div>
</modal>