.beer {
}

.beer .actions {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.beer .actions .star {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkorange;
}

.beer .content {
    padding: 2px 16px;
}

.beer .image {
}

.beer .description {
}

.beer .title {
    font-weight: bold;
}

.beer .type {
    font-style: italic;
}

.beer .spec {
    display: inline;
}