<div class="beer" *ngIf="beer">

  <div class="actions">
    <span class="fa fa-1x fa-beer" aria-hidden="true"></span>
    <a href="#" class="pull-right" (click)="favorite($event)">
      <i *ngIf="!beer.favorite" class="fa fa fa-2x fa-star-o" aria-hidden="true"></i>
      <i *ngIf="beer.favorite" class="fa fa fa-2x fa-star star" aria-hidden="true"></i>
    </a>
  </div>

  <div class="content" (click)="select()">

    <div class="label">
      <img class="image img-responsive center-block" src="{{beer.label}}" />
    </div>

    <h6 class="title" title="{{beer.description}}">
      {{beer.name}}
    </h6>

    <div class="type">
      <small>{{beer.style}}</small>
    </div>

    <div class="spec" title="{{legend.abv}}">
      <small *ngIf="beer.abv">ABV %: {{beer.abv}}</small>
      <small *ngIf="!beer.abv">ABV %: N/A</small>
    </div>

    <div class="spec" title="{{legend.ibu}}" class="pull-right">
      <small *ngIf="beer.ibu">IBU %: {{beer.ibu}}</small>
      <small *ngIf="!beer.ibu">IBU %: N/A</small>
    </div>


  </div>

</div>

<!--
    description: {{beer.description}} |
    Name: {{beer.nameDisplay}} |
    Type: {{beer.style.name}} |
    ABV: {{beer.abv}} |
    IBU: {{beer.ibu}} |
    IBU Min: {{beer.style?.ibuMin}} |
    IBU Max: {{beer.style?.ibuMax}} |
    ABV Min: {{beer.style?.abvMin}} |
    SRM Min: {{beer.style?.srmMin}} |
    SRM Max: {{beer.style?.srmMax}} |
    OG Min: {{beer.style?.ogMin}} |
    FG Min: {{beer.style?.fgMin}} |
    FG Max: {{beer.style?.fgMax}} |
    Glass: {{beer.glass?.name}} |
    Description: {{beer.description}} |
    Availability: {{beer.available?.description}} |
    Style Name: {{beer.style?.name}} |
    Style Short: {{beer.style?.shortName}} |
    Style Category: {{beer.style?.category?.name}} |
    Style Description: {{beer.style?.description}} |
    Brewery Established: {{brewery.established}} |
    Brewery Name: {{brewery.name}} |
    Brewery Url: {{brewery.website}} |
-->