<div class="container">

  <!-- Info -->
  <div class="row">
    <small class="pull-right">
      Found: {{beers.length}}
    </small>
  </div>

  <!-- Results -->
  <div class="row">
    <app-cards [items]="beers">
      <template let-item="item">
        <beer-card [beer]="item" (selected)="select(item)"></beer-card>
      </template>
    </app-cards>
  </div>

</div>

<!-- Dialog -->
<p-dialog modal="true"  
  [dismissableMask]="true" 
  [resizable]="true"
  [(visible)]="display"
  class="dialog">

  <p-header *ngIf="selection">
      <span class="title">
        <span class="fa fa-1x fa-beer" aria-hidden="true"></span>
        {{selection.name}}
      </span>
  </p-header>

  <div class="container-fluid pre-scrollable" *ngIf="selection">
    <div class="row">
      <div class="col-xs-12">
        <!--<beer-card [beer]="selection"></beer-card>-->
        {{selection.description}}
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="display=false" label="Ok"></button>
    </div>
  </p-footer>

</p-dialog>